body {
    background-color: rgb(247, 249, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.accordion-collapse {
    margin-bottom: 8px;
}
   .card {
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
      margin-bottom: 20px;
      border: none;
    }
     .btn-primary {
      background-color: #4b708c;
      border-color: #4b708c;
    }

    .btn-primary:hover {
      background-color: #3a5a6f;
      border-color: #3a5a6f;
    }

    .feature-icon {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #4b708c;
    }

    footer {
      background-color: #4b708c;
      color: white;
      padding: 2rem 0;
      margin-top: 3rem;
    }
        a {
      color: white!important;
    }

        .other-important-link {
      list-style-type: none;
    }
    .btn-light {
      color: #212529;
      background-color: #f8f9fa;
      border-color: #717171;
    }

    .about {
      margin-inline: 10px;
      margin-block: 10px;
    }
